{% extends 'generic/object.html' %}

{% block head %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/static/netbox_path/index.css" />
{% endblock head %}

{% block content %}
<div class="row">
	<div class="col-8">
		<div class="btn-group-sm" role="group">
			<button type="button" class="btn btn-success" id="nbp-save">Save</button>
			<button type="button" class="btn btn-primary" id="nbp-link-selected" disabled>Link</button>
			<button type="button" class="btn btn-info" id="nbp-fit">Fit</button>

			<button type="button" class="btn btn-dark" id="nbp-lock"><span class="mdi mdi-lock"></span> Lock</button>
			<button type="button" class="btn btn-light" id="nbp-unlock"><span class="mdi mdi-lock-open"></span> Unlock</button>
		</div>
	</div>
	<div class="col-4 d-flex justify-content-end">
		<div class="btn-group-sm" role="group">
			<button type="button" class="btn btn-primary" id="nbp-screenshot-selected"><span class="mdi mdi-monitor-screenshot"></span> Screenshot</button>
			<button id="nbp-change-icon-selected" type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#nbp-node-change-icon-modal" disabled><span class="mdi mdi-image"></span> Change Icon</button>
			<button id="nbp-edit-selected" type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#nbp-node-edit-modal" disabled><span class="mdi mdi-pencil"></span> Edit</button>
			<button type="button" class="btn btn-danger" id="nbp-delete-selected" disabled><span class="mdi mdi-trash-can-outline"></span> Delete</button>
		</div>
	</div>
	<div class="col-12"><div id="global-controls"></div></div>
</div>
<hr />
<div class="row">
	<div class="col-2">
		<label for="netbox-object-type-select" class="h5">Netbox Object</label>
		<select id="netbox-object-type-select" class="form-select">
			<option value="dcim/devices" selected>Devices</option>
			<option value="dcim/interfaces">Interfaces</option>
			<option value="virtualization/interfaces">VM Interfaces</option>
			<option value="circuits/circuits">Circuits</option>
			<option value="ipam/vlans">VLANs</option>
			<option value="dcim/racks">Racks</option>
			<option value="dcim/regions">Regions</option>
			<option value="dcim/sites">Sites</option>
			<option value="tenancy/tenants">Tenants</option>
			<option value="virtualization/virtual-machines">Virtual Machines</option>
		</select>
		<div class="mt-2">
			<small>
				Select a Netbox object type to display its objects and filters.
			</small>
			<div id="netbox-object-filter-container" class="mb-2 mt-2">
				<button type="button" class="btn btn-sm btn-light" id="netbox-object-filter-showhide">Show Filters</button>
				<div id="netbox-object-filters" style="display: none;">
					<div id="netbox-object-filter-heading" class="mt-3">
						<span class="h5">Filters</span>
					</div>
					<div id="netbox-object-select-filter" class="mb-2 mt-3"></div>
				</div>
			</div>
		</div>
		
		<label id="netbox-object-select-label" for="netbox-object-select" class="form-label h5">Add Object</label>
		<select id="netbox-object-select"></select>

		<div class="btn-group">
			<button type="button" class="btn btn-sm mt-2 btn-primary" id="nbp-add-node">Add</button>
			<button type="button" class="btn btn-sm mt-2 btn-primary dropdown-toggle dropdown-toggle-split" id="nbp-add-node-dropdown" data-bs-toggle="dropdown" aria-expanded="false" disabled>
			  <span class="visually-hidden">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu" id="edge-group-dropdown-menu">
				{% comment %} The JS will fill this list with options {% endcomment %}
			</ul>
		</div>

		<div class="mb-2 mt-2">
			<button type="button" class="btn btn-sm btn-info" id="nbp-swap-node">Swap</button>
		</div>


		<div id="netbox-object-inspector-container" class="mb-2 mt-2">
			<button type="button" class="btn btn-sm btn-light" id="netbox-object-inspector-showhide">Show Inspector</button>
			<div id="netbox-object-inspector" style="display: none;">
				<label id="nbp-inspector-label" for="nbp-inspector" class="form-label">Inspector</label>
				<textarea class="form-control" id="nbp-inspector" style="resize: none;" rows="10" readonly></textarea>		 
			</div>
		</div>
	</div>
	<div class="col-10">
		<div id="nbp-container">
			<div id="nbp-cy"><div id="nbp-navigator"></div></div>
		</div>
	</div>

	{% comment %} Modal For Editing Node Attributes {% endcomment %}
	<div class="modal fade" id="nbp-node-edit-modal" tabindex="-1" role="dialog" aria-labelledby="nbp-node-edit-modal-label" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="nbp-node-edit-modal-label">Edit Node</h5>
				</div>
				<div class="modal-body">
					<div class="mb-2">
						<span class="h6">Attributes to Display</span>
					</div>
					<div id="node-attributes-to-show" class="row g-3 mb-3">
						{% comment %} The JS will fill this div with checkboxes {% endcomment %}
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="nbp-node-edit-save" data-bs-dismiss="modal">Save</button>
				</div>
			</div>
		</div>
	</div>

	{% comment %} Modal For Editing Node Icon {% endcomment %}
	<div class="modal fade" id="nbp-node-change-icon-modal" tabindex="-1" role="dialog" aria-labelledby="nbp-node-change-icon-modal-label" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="nbp-node-change-icon-modal-label">Change Icon</h5>
				</div>
				<div class="modal-body" style="max-height: 50vh; min-height: 50vh; overflow: scroll;">
					<div class="mb-2">
						<span class="h6">Icons</span>
					</div>
					<div>
						<input type="text" class="form-control" id="nbp-node-icon-search" placeholder="Search Icons" />
					</div>
					<div id="node-icons-to-show" class="row g-3 mb-3 mt-2">
						{% comment %} The JS will fill this div with icons {% endcomment %}
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="nbp-node-change-icon-save" data-bs-dismiss="modal">Save</button>
				</div>
			</div>
		</div>
	</div>
</div>


<script> var netboxPathId = {{ object.id }}; </script>
<script> var currentUserId = {{ request.user.id }}; </script>
<script type="module" crossorigin src="/static/netbox_path/index.js"></script>
{% endblock content %}
